LOCAL_REGISTRY_PATH=raw_data
MODEL_TARGET=local
GCS_BUCKET_NAME=cf_copilot_bucket
MLFLOW_TRACKING_URI=https://mlflow.lewagon.ai
MLFLOW_EXPERIMENT=cf_copilot_experiment_<your_github_nickname>
MLFLOW_MODEL_NAME=cf_copilot_<your_github_nickname>
GCS_MODEL_PREFIX=cf_copilot
GCP_PROJECT_ID=your_project_name_here
GCP_REGION=europe-west1
DOCKER_IMAGE_NAME=cf-copilot-image
DOCKER_REPO_NAME=cf-copilot-repo
