LOCAL_REGISTRY_PATH=raw_data
MODEL_TARGET=local
MLFLOW_MODEL_NAME=cf_copilot_predictor
BUCKET_NAME=cf_copilot_bucket
MLFLOW_TRACKING_URI=https://mlflow.lewagon.ai
GCS_MODEL_PREFIX=cf_copilot
GCP_PROJECT=your_project_name_here
GCP_REGION=europe-west1
