# =========================
# Local / registry settings
# =========================
LOCAL_REGISTRY_PATH=raw_data
MODEL_TARGET=gcs

# ==========
# GCS config
# ==========
GCS_BUCKET_NAME=cf_copilot_saiyudh
GCS_MODEL_PREFIX=models/
GCS_HISTORICAL_DATA_PATH=data/historical.csv

GCP_PROJECT_ID=your-gcp-project-id
GCP_REGION=europe-west1

# ============
# MLflow setup
# ============
MLFLOW_TRACKING_URI=https://mlflow.lewagon.ai
MLFLOW_EXPERIMENT=cf_copilot_experiment_saiyudh
MLFLOW_MODEL_NAME=cf_copilot_saiyudhaplhaomega_all

# =======
# Docker
# =======
DOCKER_IMAGE_NAME=cf-copilot-image
DOCKER_REPO_NAME=cf-copilot-repo
