# Data science
numpy
pandas
matplotlib
colorama
scikit-learn

# Google Cloud
google-cloud-storage

# Experiment tracking
mlflow

# API
fastapi
uvicorn
python-multipart

# Data
kagglehub

# Tests
httpx<0.28
pytest-asyncio
