# data science
numpy
pandas
matplotlib
colorama
# Uncomment if you use sklearn
scikit-learn

# Install the correct TensorFlow version
# Uncomment if you use TensorFlow
# tensorflow==2.16.2    # For both Intel and Apple silicon
# keras==3.8.0

# Google Cloud
# Uncomment if you use Google Cloud Storage
google-cloud-storage
google-cloud-bigquery
google-cloud-storage==2.14.0
google-api-core==2.8.2
googleapis-common-protos==1.56.4

# API
fastapi
uvicorn
kagglehub

# tests
httpx<0.28
pytest-asyncio
griffe>=0.44
# prevent bq 3+ db-dtypes package error when running training from bq

mlflow==2.1.1
prefect==2.19.2

python-dotenv
psycopg2-binary
